<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication1.Properties.Settings.Skills_InternationalConnectionString"
            connectionString="Data Source=DESKTOP-SMK4S43\SQLEXPRESS;Initial Catalog=Skills_International;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>